.homepage {
  font-family: 'Open Sans', sans-serif;

  .bg-E8F3F8 {
    background-color: #E8F3F8;
  }
  .bg-5458FB {
    background-color: #5458FB;
  }
  .bg-E5E5E5 {
    background-color: #E5E5E5;
  }
  .text-9FA5B7 {
    color: #9FA5B7;
  }
  .el-loading-spinner svg {
    @apply mx-auto;
  }
  table {
    tbody tr {
      td {
        @apply border-b-2;
      }
      td:first-child {
        @apply pr-1;
      }
      td:nth-child(2) {
        @apply pl-1;
      }
      &:last-child td {
        @apply border-b-0;
      }
    }
    thead tr {
      .ant-table-column-title {
        color: #9FA5B7;
        @apply uppercase;
      }

      th {
        @apply bg-transparent;
      }
    }

    // tr th:nth-child(2),
    // tr td:nth-child(2),
    // tr th:nth-child(2) .ant-table-header-column,
    // tr td:nth-child(2) > div {
    //   max-width: 200px;
    // }
  }
  .text-14C8B1 {
    color: #14C8B1;
  }
  .text-EB5757 {
    color: #EB5757;
  }
  .ant-tabs-bar {
    @apply mb-0 border-b-0;
  }
  .ant-tabs-ink-bar {
    background-color: #5458FB;
    height: calc(100% - 10px);
    bottom: 5px;
    z-index: 1;

    @apply rounded;
  }

  .ant-select-selection,
  .ant-select-selection__rendered,
  .ant-input {
    height: 2.75rem;
    line-height: 2.75rem;
  }

  .ant-tabs-nav {
    &-wrap,
    &-container {
      @apply mb-0;
    }
  }

  .ant-tabs-tab {
    margin-right: 5px;

    &::before {
      display: none;
    }
    &:hover {
      color: #5458FB !important;
    }

    &-active {
      z-index: 2;

      @apply text-white #{!important};

      &:hover {
        @apply text-white #{!important};
      }
    }

    @apply font-semibold mr-2 #{!important};
  }

  .ant-card-body {
    @apply px-2 #{!important};

    @screen md {
      @apply px-6 #{!important};
    }
  }

  .min-table {
    tbody tr {
      td:first-child {
        vertical-align: top;

        @apply py-2;
      }
      td:nth-child(2) {
        @apply px-1;
      }
    }

    thead tr th .ant-table-column-title {
      @apply text-sm;
    }

    .ant-avatar {
      @apply w-12 h-12;
    }

    .custom-gray-sm {
      white-space: nowrap;
      line-height: 21px;
      font-size: 0.7rem;
      @apply uppercase text-gray-500;
    }

    .progress-min > div {
      line-height: 21px;
      height: 21px;
    }
  }

  .ant-progress-bg {
    height: 0.35rem !important;
  }
  .ant-card,
  .ant-table {
    color: #222A3C;
  }
}
